body {
    background-color: rgba(15, 184, 214, 0.836);
    margin-left: 100px;
    margin-right: 200px;
}

header {
    margin-top: 70px;
}

h1 {
    color: rgb(240, 21, 39);
    font-family: fantasy;
}

h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: whitesmoke;
}

p {
    font-size: 18px;
}

footer {
    margin-bottom: 30px;
    
}

.img_padrao {
    width: 400px;
    margin-bottom: 30px;
}

.logo-um {
    width: 30px;
}